* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

/* #region utilities */
:root {
    --header-bg: #080b12;
    --header-grey: #b4b5b7;
    --nav-menu-home: #d2d2d2;
    --nav-menu-plus: #a3a3a3;
    --nav-menu-text: #6f6f6f;
    --main-bg: #141922;
    --main-text: #797b80;
    --footer-bg: #282828;
    --line: #92ce27;
}

.d-flex {
    display: flex;
}

.t-ac {
    text-align: center;
}

/* #endregion utilities */

/* #region sidebar*/
.sidebar {
    width: 200px;
    height: calc(100Vh - 60px);
    background-color: black;
    flex-direction: column;
    justify-content: space-between; 
    overflow-y: auto;       
}

/* #endregion sidebar*/
/* #region sidebar-elements*/

.logo-large img {
    width: 70%;
    padding: 15px;
    animation-name: loganimation;
    animation-duration: 4s;
}

@keyframes loganimation {
    0% {
        transform: translate(0px, 0px);
    }

    50% {
        transform: translate(0px, 400px);
        width: 100%;
    }

    75% {
        transform: translate(0px, 0px);
    }
}

.logo-small img {
    width: 25%;
    padding: 10px;
    display: none;
}

.icon {
    color: var(--nav-menu-text);
    padding-left: 15px;
    padding-bottom: 10px;
    align-items: center;
}

.icon:hover {
    color: white;
}

.home h5 {
    color: white;
}

.icon img {
    width: 10%;
}

.icon.home {
    border-left: 3px solid var(--line);
}

.icon h5 {
    padding-left: 5px;
    font-weight: 500;
    font-size: 0.75rem;
}

.home h5 {
    font-weight: bold;
}

#playlist {
    text-transform: uppercase;
    color: white;
    margin: 20px 10px 5px;
}

.new-pl {
    align-items: center;
}

.new-pl i {
    background-color: var(--nav-menu-plus);
    padding: 5px;
    margin: 10px;
}

.new-pl i:hover {
    background-color: white;
}

.new-pl h5 {
    color: var(--nav-menu-text);
    font-size: 0.75rem;
}

.new-pl h5:hover {
    color: white;
}

.sidebar li {
    color: var(--nav-menu-text);
    font-size: 0.75rem;
    font-weight: 700;
    padding-left: 10px;
    padding-top: 15px;
}

.sidebar li:hover {
    color: white;
}

.app {
    align-items: center;
}

.app img {
    color: var(--nav-menu-text);
    width: 10%;
    margin: 0 10px;
}

.app h5 {
    color: var(--nav-menu-text);
    font-size: x-small;
}

.app h5:hover {
    color: white;
}

hr {
    color: var(--nav-menu-text);
    margin: 10px;
}

.profile img {
    width: 10%;
    margin: 0 10px 5px 10px;
    background-color: var(--nav-menu-text);
    border-radius: 50%;
}

.profile h5 {
    color: white;
    font-weight: bold;
}

/* #endregion sidebar-elements*/
/* #region main-general*/
main {
    position: absolute;
    top: 0;
    left: 200px;
    width: calc(100% - 200px);
    height: calc(100Vh - 60px);
    background-color: var(--main-bg);
    overflow-y: auto;
}
/* #endregion main-general*/
/* #region horizontal-bar*/
.cont-menu {
    width: 100%;
    margin-top: 70px;
}

.horizontal-menu {
    width: 70%;
    margin: auto;
    justify-content: space-between;
}

.horizontal-menu .col-2 {
    text-transform: uppercase;
    font-size: 0.75rem;
    font-weight: 800;
    color: var(--main-text);
}

.horizontal-menu .col-2:hover {
    color: white;
}

#underline {
    border-bottom: 2px solid var(--line);
}

/* #endregion horizontal-bar*/
/* #region three rows*/
main h2 {
    padding-top: 30px;
    padding-left: 10px;
    color: white;
}

main h4 {
    color: var(--main-text);
    padding-top: 10px;
    padding-left: 10px;
    font-weight: bold;
}

.row {
    padding-left: 5px;
    padding-right: 15px;
}

.col-2 {
    width: calc(100% / 12 * 2);
    margin-top: 20px;
}

.card img {
    width: 100%;
    padding: 0 5px;
}

.card {
    position: relative;
}

.play-box {
    width: 45px;
    height: 45px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);       
}
.play-box i{
    font-size: 45px;
    color: white;
    opacity: 0;
}
.card:hover {
    opacity: 0.7;
}

.card:hover i {
    opacity: 1;
}

main .title {
    color: white;
    font-weight: bold;
}

main .subtitle {
    color: var(--main-text);
    padding-top: 5px;
}

.circled img {
    border-radius: 50%;
}

/* #endregion three rows*/
/* #region header-general*/
.header-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 60px;
    background-color: var(--header-bg);
    justify-content: end;
    align-items: center;
    padding-right: 50px;
}

/* #endregion header-general*/
/* #region header-elements*/
.welcome {
    color: blue;
    margin: auto;
    animation: appear;
    animation-duration: 4s;
    font-size: 0;
    animation-delay: 4s;
}

@keyframes appear {
    0% {
        font-size: 0;
    }

    50% {
        font-size: 1rem;
    }

    100% {
        font-size: 0;
    }
}

header a {
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    font-size: x-small;
    border: 1px solid var(--header-grey);
    border-radius: 20px;
    padding: 10px 30px;
}

.up-grade:hover {
    transform: scale(1.5);
}

/* #endregion header-elements*/
/* #region footer-general*/

.foot-container {
    width: 100%;
    height: 60px;
    background-color: var(--footer-bg);    
    color: white;
    justify-content: space-between;    
}
/* #endregion footer-general*/
/* #region left-footer*/
.left-footer {
    align-items: center;
    padding: 5px;
    width: 200px;
}

footer img {
    height: 70%;
}

footer .text {
    padding-left: 5px;
    padding-right: 40px;
    font-size: x-small;
    font-weight: 800;
}

#track-name {
    color: var(--nav-menu-text);
}

#track-name:hover {
    color: white;
    text-decoration: underline;
}

footer .fa-folder {
    padding: 0 10px;
}

.fa-regular.fa-heart,
.fa-regular.fa-folder {
    color: var(--nav-menu-text);
}

.fa-regular.fa-heart:hover {
    color: white;
}

.fa-regular.fa-folder:hover {
    color: white;
}
/* #endregion left-footer*/
/* #region central-footer*/
.central-footer {   
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.central-foot {
    align-items: center;
    padding: 7px;
}

.ctr-icons {
    padding-right: 20px;
}

.time-bar {
    align-items: center;
}

.time-bar span {
    font-size: xx-small;
    padding: 0 5px;
}

.time-borders {
    position: relative;
}

.cf.under-border {
    width: 300px;
}

.cf.up-border {
    width: 100px;
}

.under-border {
    border: 3px solid gray;
    border-radius: 5px;
}

.up-border {
    border: 3px solid white;
    border-radius: 5px;
    position: absolute;
    top: 0;
    left: 0;
}

.time-borders i {
    position: absolute;
    top: -4px;
    left: 98px;
    display: none;
}

.up-border:hover {
    border: 3px solid var(--line);
}

.time-borders:hover i {
    display: inline;
    transform: scale(0.8);
}

.central-foot .fa-circle-play:hover {
    transform: scale(1.5);
    padding-left: 5px;
}
/* #endregion central-footer*/
/* #region right-footer*/
.right-footer {
    align-items: center;
    padding-right: 10px;
}

.fa-ellipsis-vertical {
    padding-right: 1px;
}

.fa-bars,
.fa-display,
.fa-volume-high {
    padding-right: 10px;
}

.volume-borders {
    position: relative;
}

.rf.under-border {
    /* see under/up border in central-footer */
    width: 100px;
}

.rf.up-border {
    width: 30px;
}

.volume-borders i {
    position: absolute;
    top: -5px;
    left: 30px;
    display: none;
}

.rf.up-border:hover {
    border: 3px solid var(--line)
}

.volume-borders:hover i {
    display: inline;
    transform: scale(0.8);
}
/* #endregion right-footer*/

/* #region responsiveness*/
@media screen and (max-width: 1150px) {
    .horizontal-menu {
        width: 90%;
    }
}

@media screen and (max-width: 860px) {
    .horizontal-menu {
        width: 100%;
    }
}

@media screen and (max-width: 992px) {
    .row {
        flex-wrap: wrap;
    }

    .col-md-3 {
        width: calc(100% / 12 * 3);
    }

    .horizontal-menu {
        flex-wrap: wrap;
    }

    .col-md-20 {
        width: 20%;
    }

    .last {
        margin: auto;
        margin-top: 10px;
    }
}

@media screen and (max-width: 768px) {
    .col-s-6 {
        width: calc(100% / 12 * 6);
        padding: 10px;
    }

    .col-s-4 {
        width: calc(100% / 12 * 4);
        margin: auto;
        padding: 5px;
        ;
    }
    .left-footer{
        width: 150px;
    }
    .left-foot.icons {
        flex-direction: column;
        align-items: center;
    }
    .cf.under-border{
        width: 200px;
    }
    .cf.up-border{
        width: 60px;
    }
    .ctr-icons{
        padding-right: 10px;
    }
    .right-footer{
        display: block;
        padding: 20px;
    }
    .right-foot{
        padding-bottom: 5px;
    }
    .rf.under-border{
        width: 80px;        
    }
    .rf.up-border{
        width: 30px;
    }    
}

@media screen and (max-width: 576px) {
    .welcome{
        animation: none;
    }
    .sidebar {
        width: 50px;
    }

    .logo-large img {
        display: none;
    }

    .logo-small img {
        display: inline-block;
    }

    .icon h5 {
        display: none;
    }

    .sidebar-playlist {
        display: none;
    }

    .sidebar-bottom h5,
    hr {
        display: none;
    }

    .profile img,
    .app img {
        width: 40%;
    }
    .app img{
        padding-bottom: 10px;
    }

    .logo-small img {
        min-width: 50px;

    }

    .icon img {
        min-width: 20px;
    }

    main {
        left: 50px;
        width: calc(100% - 50px);
    }

    .col-xs-3 {
        width: calc(100% / 12 * 3);
        padding-top: 20px;
    }    
    .cf.under-border{
        width: 100px;
    }
    .cf.up-border{
        width: 35px;
    }
}
@media screen and (max-height: 200px) {
.up-grade{
    display: none;
}
}



/* #endregion responsiveness*/