* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Nunito Sans', sans-serif;
}

/* #region utilities */
:root {
    --header-bg: #080b12;
    --header-grey: #b4b5b7;
    --nav-menu-home: #d2d2d2;
    --nav-menu-plus: #a3a3a3;
    --nav-menu-text: #6f6f6f;
    --main-bg: #141922;
    --main-text: #797b80;
    --footer-bg: #282828;
    --scroll-bar-light: #c8c8c8;
    --scroll-bar-dark: #7f7f7f;
    --line: #92ce27;
}

.d-flex {
    display: flex;
}

.ml200 {
    margin-left: 200px;
}

.t-ac{
    text-align: center;
}
/* #endregion utilities */

/* #region nav */
.nav-container {
    width: 200px;    
    height: calc(100% - 60px);
    background-color: black;
    position: absolute;
    top: 0;
    left: 0;
    flex-direction: column;
    justify-content: space-between;
}

.logo img {
    width: 70%;
    padding: 10px;
}

.cta {
    color: white;
    margin: 10px;
    align-items: center;
}

.cta img {
    width: 10%;
}

.cta h5 {
    padding-left: 5px;
    font-weight: lighter;
    font-size: x-small;
}

.home h5 {
    font-weight: bold;
}

#playlist {
    text-transform: uppercase;
    color: white;
    margin: 20px 10px 5px;
}

.new-pl {
    align-items: center;
}

.new-pl i {
    background-color: var(--nav-menu-plus);
    padding: 5px;
    margin: 10px;
}

.new-pl h5 {
    color: var(--nav-menu-text);
    font-size: small;
}

nav li {
    color: var(--nav-menu-text);
    font-size: x-small;
    padding-left: 10px;
    padding-top: 7px;
}

.app {
    align-items: center;
}

.app img {
    color: var(--nav-menu-text);
    width: 10%;
    margin: 0 10px;
}

.app h5 {
    color: var(--nav-menu-text);
    font-size: x-small;
}

hr {
    color: var(--nav-menu-text);
    margin: 10px;
}

.profile img {
    width: 10%;
    margin: 0 10px;
    background-color: var(--nav-menu-text);
    border-radius: 50%;
}

.profile h5 {
    color: white;
    font-weight: bold;
}

/* #endregion nav */

/* #region header */
.header-container {
    width: 100%;
    height: 60px;
    background-color: var(--header-bg);
    justify-content: end;
    align-items: center;    
}

header a {
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    font-size: x-small;
    border: 1px solid var(--header-grey);
    border-radius: 20px;
    padding: 10px 30px;
}

/* #endregion header */

/* #region main */
.main-container {
    width: 100%;
    height: calc(100vh - 60px);
    background-color: var(--main-bg);
    overflow-y: auto;
}

.row-menu {
    width: calc(100% - 200px);
    margin-top: 20px;
}

.horizontal-menu {
    width: 50%;
    margin: auto;
    justify-content: space-between;
}

.hor-menu-tag {
    text-transform: uppercase;
    font-size: x-small;
    font-weight: bold;
    color: var(--main-text);
}

main hr {
    margin: auto;
    width: 20px;
    height: 5px;
    color: var(--line);
}

.col-2 {
    width: calc(100% / 12 * 2);
    margin-top: 20px;
}

.card img {
    width: 100%;
    padding: 5px;
}
main .title{
    color: white;
    font-weight: bold;
}

main .subtitle{
    color: var(--main-text);
    padding-top: 5px;
}
.circled img {
    border-radius: 50%;
}

main h2 {
    padding-top: 20px;
    color: white;
}

main h4 {
    color: var(--main-text);
    padding-top: 10px;
    font-weight: lighter;
}

/* #endregion main */

/* #region footer */

.foot-container {
    width: 100%;
    height: 60px;
    background-color: var(--footer-bg);
    justify-content: space-between;
}

footer {
    color: white;
}

/* left-footer */
.left-footer {
    align-items: center;
    padding: 5px;
    width: 200px;
}

footer img {
    height: 70%;
}

footer .text {
    padding-left: 5px;
    padding-right: 40px;
    font-size: x-small;
}

footer .fa-folder {
    padding: 0 10px;
}

/* central footer */
.central-footer {
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.central-foot {
    align-items: center;
    padding: 10px;
}

.ctr-icons {
    padding-right: 20px;
}

.time-bar {
    align-items: center;
}

.time-bar span {
    font-size: xx-small;
    padding: 0 5px;
}

.volume-borders {
    position: relative;
}

.cf.under-border {
    width: 300px;
}

.cf.up-border {
    width: 100px;
}

.under-border {
    border: 3px solid gray;
    border-radius: 5px;
}

.up-border {
    border: 3px solid white;
    border-radius: 5px;
    position: absolute;
    top: 0;
    left: 0;
}

/* right-footer */
.right-footer {
    align-items: center;
    padding-right: 10px;
}

.fa-ellipsis-vertical {
    padding-right: 1px;
}

.fa-bars,
.fa-display,
.fa-volume-high {
    padding-right: 10px;
}

.rf.under-border {
    /* see under/up border in central-footer */
    width: 100px;
}

.rf.up-border {
    width: 30px;
}

/* #endregion footer */


/* #region debug */
.debug .nav-top {
    width: 100%;
    height: 300px;    
}

.debug .nav-bottom {
    width: 100%;
/*     height: 70px; */   
}

.debug .row-menu {
    border: 1px solid black;
}

.debug .horizontal-menu {
    height: 100%;
    /*  border: 1px solid red; */
}

.debug .col-2 {
    border: 1px solid black;
    /*  height: 150px; */
}

.debug .left-footer {
    /* width: 100px; */
    height: 100%;
    /*    background-color: rgb(54, 52, 52); */
}

.debug .central-footer {
    width: 200px;
    height: 100%;
    /*    background-color: rgb(68, 62, 62); */
}

.debug .right-footer {
    width: 200px;
    height: 100%;
    /*  background-color: rgb(46, 40, 40); */
}

/* #endregion debug */

/* #region responsiveness */
@media screen and (max-width: 768px) {
    .row {
        flex-wrap: wrap;
    }

    .col-md-3 {
        width: calc(100% / 12 * 3);
    }

    .horizontal-menu {
        width: 90%;
    }
}

@media screen and (max-width: 480px) {
    .col-s-6 {
        width: calc(100% / 12 * 6);
    }

    .horizontal-menu {
        flex-wrap: wrap;
    }
}


/* #endregion responsiveness */