*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Nunito Sans', sans-serif;
}

/* #region utilities */
:root{
    --header-bg: #080b12;
    --header-grey: #b4b5b7;
    --nav-menu-home: #d2d2d2;
    --nav-menu-plus: #a3a3a3;
    --nav-menu-text: #6f6f6f;
    --main-bg: #141922;
    --main-text: #797b80;
    --footer-bg: #282828;
    --scroll-bar-light: #c8c8c8;
    --scroll-bar-dark: #7f7f7f;
    --line: #92ce27;
}

.d-flex{
    display: flex;
}

.ml100{
    margin-left: 200px;
}
/* #endregion utilities */

/* #region nav */
.nav-container{
    width: 200px;   
    background-color: black;
    position: absolute;
    top: 0;
    left: 0;
    flex-direction: column;
    justify-content: space-between;
}

.logo img{
    width: 70%;
    padding: 10px;
}

.cta{
    color: white;
    margin: 10px;
    align-items: center;
}
.cta img{
    width: 10%;   
}

.cta h5{
    padding-left: 5px;    
    font-weight: lighter;
    font-size: x-small;
}

.home h5{
    font-weight: bold;
}

#playlist{
    text-transform: uppercase;
    color: white;
    margin: 20px 10px 5px;
}

.new-pl{
    align-items: center;
}

.new-pl i{
    background-color: var(--nav-menu-plus);    
    padding: 5px;
    margin: 10px;
}

.new-pl h5{
    color: var(--nav-menu-text);
    font-size: small;
}

nav li{
    color: var(--nav-menu-text);
    font-size: x-small;
    padding-left: 10px;
    padding-top: 7px;
}

.app{
    align-items: center;
}

.app img{
    color: var(--nav-menu-text);
    width: 10%;
    margin: 0 10px;
}

.app h5{
    color: var(--nav-menu-text);
    font-size: x-small;
}
hr{
    color: var(--nav-menu-text);
    margin: 10px;
}
.profile img{
    width: 10%;
    margin: 0 10px;
    background-color: var(--nav-menu-text);
    border-radius: 50%;
}

.profile h5{
    color: white;
    font-weight: bold;
}
/* #endregion nav */

/* #region header */
.header-container{
    width: 100%;
    height: 60px;
    background-color: lightgreen;
    justify-content: end;
    align-items: center;
}
/* #endregion header */

/* #region main */
.main-container{
    width: 100%;    
    background-color: rgb(249, 185, 90);   
    overflow-y: auto;
}

.row-menu{
width: calc(100% - 200px);
}

.horizontal-menu{
    width: 50%;
    margin: auto;
    justify-content: space-between;
}

.col-2{
    width: calc(100% / 12 * 2);
    margin-top: 20px;
    height: 150px;
}

main h1{
    padding-top: 20px;
}

/* #endregion main */

/* #region footer */

.foot-container{
    width: 100%;
    height: 60px;
    background-color: lightcoral;
    justify-content: space-between;
}
/* #endregion footer */


/* #region debug */
.debug .nav-top{
    width: 100%;
    height: 300px;
    /* background-color: lightslategray; */
}
.debug .nav-bottom{
    width: 100%;
    height: 70px;
   /*  background-color: lightslategray; */
}
.debug .row-menu{
    border: 1px solid black;     
}
.debug .horizontal-menu{    
    height: 100%;    
    border: 1px solid red;
}
.debug .main-container{
    height: calc(100vh - 120px);
}
.debug .nav-container{
    height: calc(100vh - 60px);
}
.debug .col-2{
    border: 1px solid black;
}
.debug .left-footer{
    width: 100px;
    height: 100%;
    background-color: rgb(54, 52, 52);
}
.debug .central-footer{
    width: 200px;
    height: 100%;
    background-color: rgb(68, 62, 62);
}
.debug .right-footer{
    width: 100px;
    height: 100%;
    background-color: rgb(46, 40, 40);
}
/* #endregion debug */

/* #region responsiveness */
@media screen and (max-width: 768px) {
    .row{
        flex-wrap: wrap;
    }
    .col-md-3{
        width: calc(100% / 12 * 3);
    }
    .horizontal-menu{
        width: 90%;
    }
}

@media screen and (max-width: 480px) {
        .col-s-6{
        width: calc(100% / 12 * 6);
    }
    .horizontal-menu{
        flex-wrap: wrap;
    }
}


/* #endregion responsiveness */