* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Nunito Sans', sans-serif;
}

/* #region utilities */
:root {
    --header-bg: #080b12;
    --header-grey: #b4b5b7;
    --nav-menu-home: #d2d2d2;
    --nav-menu-plus: #a3a3a3;
    --nav-menu-text: #6f6f6f;
    --main-bg: #141922;
    --main-text: #797b80;
    --footer-bg: #282828;
    --scroll-bar-light: #c8c8c8;
    --scroll-bar-dark: #7f7f7f;
    --line: #92ce27;
}

.d-flex {
    display: flex;
}

.ml200 {
    margin-left: 200px;
}

.t-ac {
    text-align: center;
}

/* #endregion utilities */

/* #region nav */
.nav-container {
    width: 200px;
    height: calc(100% - 60px);
    background-color: black;
    position: absolute;
    top: 0;
    left: 0;
    flex-direction: column;
    justify-content: space-between;
}

.logo img {
    width: 70%;
    padding: 10px;
}

.cta {
    color: var(--nav-menu-text);
    padding-left: 10px;
    padding-bottom: 5px;
    align-items: center;
}

.cta:hover {
    color: white;
}

.home h5 {
    color: white;
}

.cta img {
    width: 10%;
}

.cta.home {
    border-left: 3px solid var(--line);
}

.cta h5 {
    padding-left: 5px;
    font-weight: lighter;
    font-size: x-small;
}

.home h5 {
    font-weight: bold;
}

#playlist {
    text-transform: uppercase;
    color: white;
    margin: 20px 10px 5px;
}

.new-pl {
    align-items: center;
}

.new-pl i {
    background-color: var(--nav-menu-plus);
    padding: 5px;
    margin: 10px;
}

.new-pl i:hover {
    background-color: white;
}

.new-pl h5 {
    color: var(--nav-menu-text);
    font-size: small;
}

.new-pl h5:hover {
    color: white;
}

nav li {
    color: var(--nav-menu-text);
    font-size: x-small;
    padding-left: 10px;
    padding-top: 7px;
}

nav li:hover {
    color: white;
}

.app {
    align-items: center;
}

.app img {
    color: var(--nav-menu-text);
    width: 10%;
    margin: 0 10px;
}

.app h5 {
    color: var(--nav-menu-text);
    font-size: x-small;
}

.app h2:hover {
    color: white;
}

hr {
    color: var(--nav-menu-text);
    margin: 10px;
}

.profile img {
    width: 10%;
    margin: 0 10px;
    background-color: var(--nav-menu-text);
    border-radius: 50%;
}

.profile h5 {
    color: white;
    font-weight: bold;
}

/* #endregion nav */

/* #region header */
.header-container {
    width: 100%;
    min-width: 750pxx;
    height: 60px;
    background-color: var(--header-bg);
    justify-content: end;
    align-items: center;
}

header a {
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    font-size: x-small;
    border: 1px solid var(--header-grey);
    border-radius: 20px;
    padding: 10px 30px;
}

.up-grade:hover {
    transform: scale(1.2);
}

/* #endregion header */

/* #region main */
.main-container {
    width: 100%;
    min-width: 750px;
    height: calc(100vh - 60px);
    background-color: var(--main-bg);
    overflow-y: auto;
}

.cont-menu {
    width: calc(100% - 200px);
    margin-top: 20px;
}

.horizontal-menu {
    width: 60%;
    margin: auto;
    justify-content: space-between;
}

.horizontal-menu .col-2 {
    text-transform: uppercase;
    font-size: x-small;
    font-weight: bold;
    color: var(--main-text);
}

.horizontal-menu .col-2:hover {
    color: white;
}

#underline {
    border-bottom: 2px solid var(--line);
}

.col-2 {
    width: calc(100% / 12 * 2);
    margin-top: 20px;
}

.card img {
    width: 100%;
    padding: 5px;
}

.card{
    position: relative;
}
.card i{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: scale(3);
    color: white;
    opacity: 0;
}
.card:hover{
    opacity: 0.7;
}

.card:hover i{
    opacity: 1;
}

main .title {
    color: white;
    font-weight: bold;
}

main .subtitle {
    color: var(--main-text);
    padding-top: 5px;
}

.circled img {
    border-radius: 50%;
}

main h2 {
    padding-top: 20px;
    color: white;
}

main h4 {
    color: var(--main-text);
    padding-top: 10px;
    font-weight: lighter;
}

/* #endregion main */

/* #region footer */

.foot-container {
    width: 100%;
    min-width: 750px;
    height: 60px;
    background-color: var(--footer-bg);
    justify-content: space-between;
}

footer {
    color: white;
}

/* left-footer */
.left-footer {
    align-items: center;
    padding: 5px;
    width: 200px;
}

footer img {
    height: 70%;
}

footer .text {
    padding-left: 5px;
    padding-right: 40px;
    font-size: x-small;
}

#track-name {
    color: var(--nav-menu-text);
}

#track-name:hover {
    color: white;
    text-decoration: underline;
}

footer .fa-folder {
    padding: 0 10px;
}

.fa-regular.fa-heart,
.fa-regular.fa-folder {
    color: var(--nav-menu-text);
}

.fa-regular.fa-heart:hover {
    color: white;
}

.fa-regular.fa-folder:hover {
    color: white;
}

/* central footer */
.central-footer {
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.central-foot {
    align-items: center;
    padding: 10px;
}

.ctr-icons {
    padding-right: 20px;
}

.time-bar {
    align-items: center;
}

.time-bar span {
    font-size: xx-small;
    padding: 0 5px;
}

.time-borders {
    position: relative;
}

.cf.under-border {
    width: 300px;
}

.cf.up-border {
    width: 100px;
}

.under-border {
    border: 3px solid gray;
    border-radius: 5px;
}

.up-border {
    border: 3px solid white;
    border-radius: 5px;
    position: absolute;
    top: 0;
    left: 0;
}

.time-borders i {
    position: absolute;
    top: -4px;
    left: 98px;
    display: none;
}

.up-border:hover {
    border: 3px solid var(--line);
}

.time-borders:hover i {
    display: inline;
    transform: scale(0.8);
}

.central-foot .fa-circle-play:hover {
    transform: scale(1.5);
    padding-left: 5px;
}

/* right-footer */
.right-footer {
    align-items: center;
    padding-right: 10px;
}

.fa-ellipsis-vertical {
    padding-right: 1px;
}

.fa-bars,
.fa-display,
.fa-volume-high {
    padding-right: 10px;
}
.volume-borders{
    position: relative;
}

.rf.under-border {
    /* see under/up border in central-footer */
    width: 100px;
}

.rf.up-border {
    width: 30px;
}

.volume-borders i {
    position: absolute;
    top: -5px;
    left: 30px;
    display: none;
}

.rf.up-border:hover {
    border: 3px solid var(--line)
}

.volume-borders:hover i {
    display: inline;
    transform: scale(0.8);
}

/* #endregion footer */


/* #region debug */
.debug .nav-top {
    width: 100%;
    height: 300px;
}

.debug .nav-bottom {
    width: 100%;
    /*     height: 70px; */
}

.debug .row-menu {
    border: 1px solid black;
}

.debug .horizontal-menu {
    height: 100%;
    /*  border: 1px solid red; */
}

.debug .col-2 {
    border: 1px solid black;
    /*  height: 150px; */
}

.debug .left-footer {
    /* width: 100px; */
    height: 100%;
    /*    background-color: rgb(54, 52, 52); */
}

.debug .central-footer {
    width: 200px;
    height: 100%;
    /*    background-color: rgb(68, 62, 62); */
}

.debug .right-footer {
    width: 200px;
    height: 100%;
    /*  background-color: rgb(46, 40, 40); */
}

/* #endregion debug */

/* #region responsiveness */


@media screen and (max-width: 878px) {
    .row {
        flex-wrap: wrap;
    }

    .col-md-3 {
        width: calc(100% / 12 * 3);
    }

    .horizontal-menu {
        flex-wrap: wrap;
    }

    .col-md-20 {
        width: 20%;
    }

    .last {
        margin: auto;
    }
}

@media screen and (max-width: 639px) {
    .col-s-6 {
        width: calc(100% / 12 * 6);
    }

    .cont-menu {
        width: 90%;
    }

    .col-s-4 {
        width: calc(100% / 12 * 4);
        margin: auto;
        padding: 5px;
        ;
    }
}

@media screen and (max-width: 552px) {
    .cta h5 {
        display: none;
    }

    .nav-playlist {
        display: none;
    }

    .nav-bottom h5,
    hr {
        display: none;
    }

    .profile {
        margin-top: 15px;
    }
}
















/* #endregion responsiveness */